@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root {
	--nav-bar-background: #3b5998;
	--primary-button-background: #4267b2;
	--connect-text-color: #0e385f;
}

body {
	font-family: 'Lucida Grande', tahoma, verdana, arial, sans-serif;
}

.nav-bar-background {
	background-color: var(--nav-bar-background);
}

.nav-button-background {
	background-color: var(--primary-button-background);
}

.nav-button-background:hover {
	background-color: var(--nav-bar-background);
}

.nav-height {
	height: 54px;
}

table {
	text-align: left;
	font-size: 0.2rem;
}

.left-text {
	font-size: 0.4rem;
}

.main-bg-gradient {
	background-image: linear-gradient(to bottom, rgba(253, 253, 253, 0.99), rgba(4, 51, 145, 0.15));
}

main {
	height: 50vh;
}

span {
	color: rgba(13, 13, 175, 0.7);
	cursor: pointer;
}

.languages > * {
	display: inline-block;
	margin-right: 0.3rem;
}

.fb-features > * {
	margin-right: 0.1rem;
}

.additional-features > * {
	margin-right: 0.1rem;
}

select {
	background-color: white;
}

form,
select {
	font-size: 0.3rem;
}

.radios {
	font-size: 0.45rem;
}

.help {
	font-size: 0.45rem;
	background-color: rgba(128, 128, 128, 1);
	cursor: pointer;
}

.agreement {
	font-size: 0.3rem;
}

.createPage {
	font-size: 0.3rem;
}

.max-w-1024 {
	max-width: 1024px;
}

footer {
	font-size: 0.1rem;
}

figure img {
	margin-top: 2rem;
	padding-left: 1rem;
}

@media only screen and (min-device-width: 480px) {
	table .email,
	.password {
		width: fit-content;
		font-size: 0.4rem;
	}

	.left-text {
		font-size: 0.6rem;
	}
}

@media only screen and (min-device-width: 640px) {
	footer {
		font-size: 0.5rem;
	}

	main {
		height: 70vh;
	}

	.languages > * {
		margin-right: 1rem;
	}

	.fb-features > * {
		margin-right: 1rem;
	}

	.additional-features > * {
		margin-right: 1rem;
	}
}

@media only screen and (min-device-width: 768px) {
	footer {
		font-size: 0.6rem;
	}
}

@media only screen and (min-device-width: 1024px) {
	footer {
		font-size: 0.75rem;
	}

	figure img {
		margin-top: 2rem;
		transform: scale(1.15);
	}
}
